################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Po_Archtecture_Gb/v17/workspaceFileList.bin
/.vs/Po_Archtecture_Gb/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Po_Archtecture_Gb/FileContentIndex/fd1c16f0-6af5-4e07-8052-b7a74477b672.vsidx
*.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/b5a27eca-e48d-4584-b5ee-242600be33a6.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/a0ecfa68-5553-4baf-8723-6b7fc3ad0881.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/9100345f-0c62-495a-b1e9-db7acb344e77.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/2d0523cd-1544-422f-ab8f-0c3c23fc771a.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/430b994a-7568-4f4c-bb6c-6cc01fda7bf9.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/4bb9bf8e-7e93-4c1f-9374-55279e5da704.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/6147521a-7f81-4b05-b640-e882240fb016.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/0c027baf-c624-4a66-b349-163bedbe85f2.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/6a70fe9e-60a8-4a31-b779-430c392a083a.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/0c027baf-c624-4a66-b349-163bedbe85f2.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/2d0523cd-1544-422f-ab8f-0c3c23fc771a.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/430b994a-7568-4f4c-bb6c-6cc01fda7bf9.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/4bb9bf8e-7e93-4c1f-9374-55279e5da704.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/6147521a-7f81-4b05-b640-e882240fb016.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/6a70fe9e-60a8-4a31-b779-430c392a083a.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/9100345f-0c62-495a-b1e9-db7acb344e77.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/a0ecfa68-5553-4baf-8723-6b7fc3ad0881.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/b5a27eca-e48d-4584-b5ee-242600be33a6.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/fd1c16f0-6af5-4e07-8052-b7a74477b672.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/0c027baf-c624-4a66-b349-163bedbe85f2.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/2d0523cd-1544-422f-ab8f-0c3c23fc771a.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/430b994a-7568-4f4c-bb6c-6cc01fda7bf9.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/4bb9bf8e-7e93-4c1f-9374-55279e5da704.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/6147521a-7f81-4b05-b640-e882240fb016.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/6a70fe9e-60a8-4a31-b779-430c392a083a.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/9100345f-0c62-495a-b1e9-db7acb344e77.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/a0ecfa68-5553-4baf-8723-6b7fc3ad0881.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/b5a27eca-e48d-4584-b5ee-242600be33a6.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/fd1c16f0-6af5-4e07-8052-b7a74477b672.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/0c027baf-c624-4a66-b349-163bedbe85f2.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/2d0523cd-1544-422f-ab8f-0c3c23fc771a.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/0c027baf-c624-4a66-b349-163bedbe85f2.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/2d0523cd-1544-422f-ab8f-0c3c23fc771a.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/430b994a-7568-4f4c-bb6c-6cc01fda7bf9.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/4bb9bf8e-7e93-4c1f-9374-55279e5da704.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/6147521a-7f81-4b05-b640-e882240fb016.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/6a70fe9e-60a8-4a31-b779-430c392a083a.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/9100345f-0c62-495a-b1e9-db7acb344e77.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/a0ecfa68-5553-4baf-8723-6b7fc3ad0881.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/b5a27eca-e48d-4584-b5ee-242600be33a6.vsidx
/.vs/Po_Archtecture_Gb/FileContentIndex/fd1c16f0-6af5-4e07-8052-b7a74477b672.vsidx
/.vs/Po_Archtecture_Gb/v17/.wsuo
/.vs/Po_Archtecture_Gb/v17/workspaceFileList.bin
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
